<app-form></app-form>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">email</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item  of gridList; let sr= index">
        <th scope="row">{{sr + 1}}</th>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.email}}</td>
        <td><button type="button" class="btn btn-primary">Edit(item.email)</button></td>
        <td><button type="button" class="btn btn-primary" (click)="deleteItem(item.email)">Delete</button></td>

      </tr>
 
     
    </tbody>
  </table>